* {

}

body {
    background-color: #ddd;
}

#nav {
    float: right;
}

#nav li {
    display: inline-block;
}

#nav a {
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 5px grey;
}

#nav a:hover {
    background: lightblue;
    text-decoration: underline;
    box-shadow: 3px 3px 1px darkgray;
}

h1 {
    float: left;
    font-family: arial;
    margin-top: 5px;
}

h2 {
    margin-top: 0px;
    color: lightblue;
    font-family: verdana;
    font-weight: lighter;
}

#logoLink {
    color: black;
    text-decoration: none;
    font-size: 30px
}

#content {
    clear: both;
    font-family: georgia;
    background: white;
    padding: 25px;
    box-shadow: 2px 2px 1px gray;
}

#footer {
    margin-top: 30px;
    font-size: 10px;
    text-align: right;
    border-bottom: 1px solid lightgray;
    text-transform: uppercase;
    color: darkgray;
}

#footer a {
    color: black;
    text-decoration: none;
}
